<table>
<tbody>
<tr>
<td style="text-align: left;"><strong>Nathan Gardner
Hattersley</strong></td>
<td style="text-align: right;">Email: <a
href="mailto:">nhattersley@utexas.edu</a></td>
</tr>
<tr>
<td style="text-align: left;"><a
href="https://nghattersley.net">Portfolio: nghattersley.net</a></td>
<td style="text-align: right;">Mobile:+1-512-364-4976</td>
</tr>
<tr>
<td style="text-align: left;"><a
href="https://github.com/nateybear">Github:
  github.com/nateybear</a></td>
<td style="text-align: right;"></td>
</tr>
</tbody>
</table>
<h1 id="education">Education</h1>
<ul>
<li><table>
<tbody>
<tr>
<td style="text-align: left;"><strong>University of Texas at
Austin</strong></td>
<td style="text-align: right;">Austin, Texas</td>
</tr>
<tr>
<td style="text-align: left;"><em>M.A., Economics; Ph.D., Economics
(expected)</em></td>
<td style="text-align: right;"><em>Aug 2020–Present</em></td>
</tr>
</tbody>
</table></li>
<li><table>
<tbody>
<tr>
<td style="text-align: left;"><strong>University of
Arizona</strong></td>
<td style="text-align: right;">Tucson, Arizona</td>
</tr>
<tr>
<td style="text-align: left;"><em>M.S., Statistics; B.A., Mathematics
and Computer Science</em></td>
<td style="text-align: right;"><em>Aug 2013–May 2018</em></td>
</tr>
</tbody>
</table></li>
</ul>
<h1 id="research-interests">Research Interests</h1>
<ul>
<li><p><span> <strong>Field Courses</strong><span>:       Industrial
Organization, Econometrics </span> </span></p></li>
<li><p><span> <strong>Current Research</strong><span>: Antitrust policy,
spatial and dynamic competition, tacit collusion and algorithmic pricing
</span> </span></p></li>
</ul>
<h1 id="skills-summary">Skills Summary</h1>
<ul>
<li><p><span> <strong>Programming</strong><span>:        R, Python,
Julia, Rust, C, Java, Stata, LaTeX, Bash, HTML/CSS/JS, Typescript,
MATLAB </span> </span></p></li>
<li><p><span> <strong>Tools/Frameworks</strong><span>: Postgres/PostGIS,
git/GitHub, Docker, Pandas, SQL, Parallel Computing/HPC, Build Tools
</span> </span></p></li>
<li><p><span> <strong>Languages</strong><span>:             English
(native); Spanish (proficient) </span> </span></p></li>
</ul>
<h1 id="work-experience">Work Experience</h1>
<ul>
<li><table>
<tbody>
<tr>
<td style="text-align: left;"><strong>Texas Office of the Attorney
General</strong></td>
<td style="text-align: right;">Austin, TX</td>
</tr>
<tr>
<td style="text-align: left;"><em>Economics Fellow</em></td>
<td style="text-align: right;"><em>July 2024–Present</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p>Assist in antitrust matters brought or joined by the state of
Texas, particularly involving collusion via algorithmic pricing and
online auction manipulation</p></li>
</ul></li>
<li><table>
<tbody>
<tr>
<td style="text-align: left;"><strong>World Bank Group</strong></td>
<td style="text-align: right;">Remote</td>
</tr>
<tr>
<td style="text-align: left;"><em>Short-Term Consultant</em></td>
<td style="text-align: right;"><em>Feb 2021–Aug 2021</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p>Assisted in creation of Systemic Country Diagnostic for
Afghanistan, contributing analyses in target report areas using R and
developing indices of political fear and participation</p></li>
</ul></li>
<li><table>
<tbody>
<tr>
<td style="text-align: left;"><strong>JPMorgan Chase &amp;
Co.</strong></td>
<td style="text-align: right;">Houston, TX</td>
</tr>
<tr>
<td style="text-align: left;"><em>Analyst</em></td>
<td style="text-align: right;"><em>June 2018–June 2020</em></td>
</tr>
</tbody>
</table>
<ul>
<li><p><span>Wrote software in Python and Typescript supporting interest
rate derivatives traders</span></p></li>
<li><p><span>Individually designed and executed complex requirements
including order flow matching and trade modeling</span></p></li>
<li><p><span>Researched and advised on transition to new tech
stack</span></p></li>
<li><p>Represented team of eight in stakeholder meetings regarding
transition plans</p></li>
</ul></li>
</ul>
<h1 id="academic-experience">Academic Experience</h1>
<ul>
<li><p><span> <strong>Teaching Assistance</strong><span>: Master’s level
Econometrics (’21, ’22, ’23), Causal Inference (’21, ’22), and
Industrial Organization (’23, ’24). Gave 90-minute weekly review
lectures, curated lessons on statistical programming, and wrote and
graded solutions for exams and problem sets. See GitHub (<a
href="https://github.com/nateybear/causal-inference-2022">link</a>) and
personal website (<a
href="https://pages.nghattersley.net/metrics-in-r">link</a>) for
examples. </span> </span></p></li>
<li><p><span> <strong>DevOps for Researchers</strong><span>: (Fall 2023)
Implemented example code in Julia for multiple problems using multiple
parallelization methods, in order to assess optimal ways of using
department computing resources. Conducted performance tests and
collaborated with colleagues working in Python and MATLAB in order to
create standardized computing recommendations as well as
language-specific guidelines. Other department members used this guide
to speed up estimation routines by orders of magnitude. See GitHub (<a
href="https://github.com/nateybear/parallel-racers/wiki">link</a>).
</span> </span></p></li>
<li><p><span> <strong>Research Assistance</strong><span>: (Fall 2020)
Supported experiments on consistency of production function estimators
with Prof. Daniel Ackerberg. Reimplemented original Gauss code in both
Julia and MATLAB. Wrote additional Monte Carlo simulations in Julia to
demonstrate theoretical results about necessary exogenous variation in
the investment DGP that can identify returns to capital, and the
instability of recent estimators without any noise in the investment
process. See GitHub (<a
href="https://github.com/nateybear/production-functions.jl">link</a>).
</span> </span></p></li>
<li><p><span> <strong>Statistical Consulting</strong><span>: (Fall 2017)
Consulted for Ph.D. candidates and postdocs from various fields with
data analysis problems in R. Used statistical education to provide input
on experimental design and appropriate analysis for problems like
repeated sampling, hierarchical models, and model selection. </span>
</span></p></li>
</ul>
